/* Typography Styles */

h1 {
	color: var(--grey-5);
	margin-top: 0;
	margin-bottom: 0;
	font-family: Bitter, Georgia, serif;
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
	text-shadow:
		0 -2px 4px rgba(0, 0, 0, 0.25),
		0 2px 4px rgba(255, 255, 255, 0.4);
}

h2 {
	color: var(--grey-5);
	margin-top: 0;
	margin-bottom: 0;
	font-family: Bitter, Georgia, serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 48px;
	text-shadow:
		0 -2px 4px rgba(0, 0, 0, 0.25),
		0 2px 4px rgba(255, 255, 255, 0.4);
}

h3 {
	color: #54504b;
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Young Serif', serif;
	font-size: 56px;
	font-style: normal;
	font-weight: 400;
	line-height: 64px;
	letter-spacing: 1.68px;
	text-shadow:
		0 -2px 4px rgba(0, 0, 0, 0.25),
		0 2px 4px rgba(255, 255, 255, 0.4);
}

h4 {
	color: var(--grey-5);
	margin-top: 0;
	margin-bottom: 0;
	font-family: Bitter, Georgia, serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	text-shadow:
		0 -2px 4px rgba(0, 0, 0, 0.25),
		0 2px 4px rgba(255, 255, 255, 0.4);
}

h5 {
	color: var(--grey-5);
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Bitter, Georgia, serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	text-shadow:
		0 -2px 4px rgba(0, 0, 0, 0.25),
		0 2px 4px rgba(255, 255, 255, 0.4);
}

h6 {
	color: var(--grey-5);
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Bitter, Georgia, serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	text-shadow:
		0 -2px 4px rgba(0, 0, 0, 0.25),
		0 2px 4px rgba(255, 255, 255, 0.4);
}

p {
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'DM Sans', sans-serif;
	font-size: 24px;
	line-height: 1.6;
	text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1024px) {
	p {
		font-size: 18px;
	}
}

@media (max-width: 768px) {
	p {
		font-size: 16px;
	}
}

a {
	color: inherit;
	text-decoration: none;
	text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.25);
}

a:focus {
	outline: 2px solid var(--oregano);
	outline-offset: 2px;
}