/* Typography Styles */

h1 {
	color: var(--grey-5);
	margin-top: 0;
	margin-bottom: 0;
	font-family: Bitter, Georgia, serif;
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
}

h2 {
	color: var(--grey-5);
	margin-top: 0;
	margin-bottom: 0;
	font-family: Bitter, Georgia, serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 48px;
}

h3 {
	color: var(--grey-5);
	margin-top: 0;
	margin-bottom: 0;
	font-family: Bitter, Georgia, serif;
	font-size: 32px;
	font-weight: 500;
	line-height: 40px;
}

h4 {
	color: var(--grey-5);
	margin-top: 0;
	margin-bottom: 0;
	font-family: Bitter, Georgia, serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
}

h5 {
	color: var(--grey-5);
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Bitter, Georgia, serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
}

h6 {
	color: var(--grey-5);
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Bitter, Georgia, serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

a:focus {
	outline: 2px solid var(--oregano);
	outline-offset: 2px;
}
