---
export interface Props {
	text?: string;
	showBannerTags?: boolean;
}

const { 
	text = "Trailmerge equips SaaS and enterprise product teams with user experience and development expertise, specialized product design, and strategic best practices to level up the usability and adoption of your SaaS or enterprise application.",
	showBannerTags = true 
} = Astro.props;
---

<!-- Aside Section -->
<div class="body-block aside-wrapper">
	<div class="aside-center-container">
		<div class="aside-center">
			<div class="div-block-17">
				<p>{text}</p>
			</div>
		</div>
		{showBannerTags && (
			<>
				<div class="ribbon-right-container">
					<img src="/images/BannerTag.png" loading="lazy" width="85" alt="" />
				</div>
				<div class="ribbon-left-container">
					<img src="/images/BannerTagLeft.png" loading="lazy" width="85" alt="" />
				</div>
			</>
		)}
	</div>
</div>
