---
import { useTranslations } from '../i18n/utils';

export interface Props {
	text?: string;
	showBannerTags?: boolean;
	lang?: string;
}

const { lang = 'en' } = Astro.props;
const t = useTranslations(lang as 'en' | 'es');

const { text = t('aside.text'), showBannerTags = true } = Astro.props;
---

<!-- Aside Section -->
<div class="body-block aside-wrapper">
	<div class="aside-center-container">
		<div class="aside-center">
			<div class="div-block-17">
				<p class="light-text">{text}</p>
			</div>
		</div>
		{
			showBannerTags && (
				<>
					<div class="ribbon-right-container">
						<img
							src="/images/BannerTag.png"
							loading="lazy"
							width="85"
							alt="Decorative ribbon banner"
						/>
					</div>
					<div class="ribbon-left-container">
						<img
							src="/images/BannerTagLeft.png"
							loading="lazy"
							width="85"
							alt="Decorative ribbon banner"
						/>
					</div>
				</>
			)
		}
	</div>
</div>

<style>
	.ribbon-right-container {
		position: absolute;
		top: 50%;
		right: -75px;
		transform: translateY(-50%);
		z-index: 1;
	}

	.ribbon-left-container {
		position: absolute;
		top: 50%;
		left: -75px;
		transform: translateY(-50%);
		z-index: 1;
	}

	.ribbon-right-container img,
	.ribbon-left-container img {
		display: block;
	}

	.aside-center-container {
		position: relative;
	}

	.aside-center {
		position: relative;
		z-index: 2;
	}

	.aside-wrapper {
		margin-top: 0;
	}

	@media (max-width: 768px) {
		.ribbon-right-container,
		.ribbon-left-container {
			display: none;
		}

		.aside-wrapper {
			margin-top: 0;
			padding-top: 0;
		}
	}

	@media (max-width: 480px) {
		.aside-wrapper {
			margin-top: 0;
		}
	}
</style>
