---
export interface Props {
	title?: string;
	description?: string;
}

const {
	title = "Companies we've served",
	description = "We've had the honor of partnering with amazing teams from idea-stage B2B SaaS startups to multinational Enterprise teams to empower people to achieve, succeed, and thrive in their daily work lives."
} = Astro.props;
---

<!-- Companies Section -->
<div class="body-block dark-block">
	<div class="content-container">
		<div class="div-block-18">
			<div class="stacked-title-area">
				<h3 class="light-text"><strong>{title}</strong></h3>
				<div class="spacer-m"></div>
				<div class="side-content">
					<p class="light-text">{description}</p>
				</div>
			</div>
			<div class="div-block-19"></div>
		</div>
		<div class="spacer-xl"></div>
		<div class="w-layout-grid grid-5" style="display: flex; justify-content: center; align-items: center; gap: 4rem; flex-wrap: wrap;">
			<div id="w-node-_689b0b07-951c-0d11-2720-386febb84402-aac4e33e" class="item-block">
				<img src="/images/AchieveIt-Logo.svg" loading="lazy" alt="" class="logo" />
			</div>
			<div id="w-node-_37673771-74d8-e206-e4f1-64843c1b623c-aac4e33e" class="item-block">
				<img src="/images/LoanShout-Logo.svg" loading="lazy" alt="" class="logo" />
			</div>
			<div id="w-node-_2463a2f5-fcd0-3179-3866-ade00a0feae3-aac4e33e" class="item-block">
				<img src="/images/Staat-Logo.svg" loading="lazy" alt="" class="logo" />
			</div>
			<div id="w-node-_3b6d4e20-4aaa-a981-3cad-e9536868e51c-aac4e33e" class="item-block">
				<img src="/images/Tourial-Logo.svg" loading="lazy" alt="" class="logo" />
			</div>
			<div id="w-node-c06599c9-26b2-89b1-d786-dca3a18403da-aac4e33e" class="item-block">
				<img src="/images/UserIQ-Logo.svg" loading="lazy" alt="" class="logo" />
			</div>
		</div>
	</div>
</div>
