name: Deploy to Cloud Run

on:
  push:
    branches:
      - main
      - staging
  workflow_dispatch:

env:
  SERVICE_NAME: trailmerge-website
  REGION: us-central1

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Google Auth
        id: auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}'

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Authorize Docker push
        run: gcloud auth configure-docker

      - name: Build and Push Container
        run: |
          export IMAGE_NAME=gcr.io/${{ steps.auth.outputs.project_id }}/${{ env.SERVICE_NAME }}:${{ github.sha }}
          docker build \
            --build-arg CMS_ENCRYPTION_KEY="${{ secrets.CMS_ENCRYPTION_KEY }}" \
            -t $IMAGE_NAME .
          docker push $IMAGE_NAME

      - name: Deploy to Cloud Run
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: ${{ env.SERVICE_NAME }}
          region: ${{ env.REGION }}
          image: gcr.io/${{ steps.auth.outputs.project_id }}/${{ env.SERVICE_NAME }}:${{ github.sha }}
          env_vars: |
            CMS_ENCRYPTION_KEY=${{ secrets.CMS_ENCRYPTION_KEY }}
          flags: '--allow-unauthenticated'
